<div class="row">
    <div class="col-5">
        <div class="card">
            <h5 class="card-header">Class 8</h5>
            <div class="card-body">
                <h5 class="card-title">Class Teacher</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <button class="btn btn-primary" (click)="addStudentPopup()">Add New Student</button>
            </div>
        </div>
    </div>
    <div class="col-7">
        <app-students-list></app-students-list>
    </div>
</div>